.box-container{
    width: 100%;
    height: 500px;
    background-color:rgb(37, 34, 34);
    color: white;
    overflow: auto;
    /* over flow types 
    auto,scroll,hidden,visible */

   
   
}
.box1,.box2,.box3{
    width: 500px;
    height: 100px;
    background-color: aqua;
    color: black;
    margin: 15px;
    /* display: inline-block; */
    margin-right: 50px;
    /* display: none; */
    /* visibility: hidden; */
    display: inline;
    position: relative;
    left: 100%;
 
}

.para{
    opacity: 0.5;
}

.img1{
    display: flex;
    justify-content: right;
}

.img:hover{
    opacity: 50%;
    transition: all 3s ease-in;
    text-align: left;
    
}
.img{
  display: flex;
  justify-content: left;
}
/* .link a{
    text-decoration: none;
    background-color: aqua;
    color: white;
    padding: 5px 15px;
    border:1px solid black;
    border-radius: 8px;
    display: block;
    width: 60px;
    margin-bottom: 20px;
    /* display: none; */
   
/* } */



/* .link:hover a{
   display: block;
   background-color: slateblue;
    */
/* } */
/* .box2{
    width: 100px;
    height: 100px;
    background-color: aqua;
    color: black;
    margin: 15px;
    
   

}
.box3{
    width: 100px;
    height: 100px;
    background-color: aqua;
    color: black;
    margin: 15px;
} */